/**
	Styling for Header Menu 1
*/
#menu-header-menu-1 {
	@include respond-to-max( xs-small-screens )
	{
		display: none;
	}

	text-align: right;
	li:last-child a {
		padding-right: 0;
	}
	a {
		font-family: $font-family;
		font-size: 18px;
		font-weight: 300;
		color: $color-darkgrey;
		padding-right: 0;
		padding-left: 24px;
	}
	.fa {
		color: $color-darkgrey;
		a {
			padding: 10px;
			display: inline-block;
		}
	}
	.box-menu {
		position: relative;
		& > a {
			padding-bottom: 40px;
		}
		&:hover .box-top {
			display: block;
			opacity: 1;
		}
		&:hover .sub-menu {
			display: block;
		}
		.menu-item {
			margin-bottom: 20px;
		}
	}
	.last-menu {
		.box-top {
			left: -305px;
			&::before, &::after {
				left: 85%;
			}
		}
		.sub-menu {
			left: -305px;
		}
	}
	.box-top {
		display: none;
		opacity: 0;
		width: $box-menu-width;
		line-height: 32px;
		margin-top: 30px;
		position: absolute;
		left: -94%;
		border-top: 1px solid $color-midgrey;
		border-left: 1px solid $color-midgrey;
		border-right: 1px solid $color-midgrey;
		color: $color-midblue;
		font-size: 20px;
		background-color: white;
		padding: 17px 23px 17px 10px;
		@include transition( opacity, .4s, ease-in-out );
		&::before {
			bottom: 100%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(127, 127, 127, 0);
			border-bottom-color: $color-midgrey;
			border-width: 20px;
			margin-left: -20px;			
		}
		&::after {
			bottom: 100%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;	
			border-color: rgba(255, 255, 255, 0);
			border-bottom-color: #ffffff;
			border-width: 19px;
			margin-left: -19px;
		}
		&:hover {
			display: block;
		}		
	}
	.sub-menu {
		border-left: solid 1px $color-midgrey;
		border-right: solid 1px $color-midgrey;
		border-bottom: solid 1px $color-midgrey;
		border-top: none;
		width: auto;
		left: -94%;
		position: absolute;
		top: 125px;
		background-color: white;
		display: none;
		li {
			display: block;
			width: $box-menu-width - 2;
			&.fa {
				background-color: white;
				&::before {
					vertical-align: top;
					padding-right: 20px;
					padding-left: 10px;
					font-size: 22px;
					width: 54px;
				}
			}
			a {
				border: none!important;
				width: $box-menu-width - 54;
				font-size: 22px;
				color: $color-darkgrey;
				padding-left: 0;
				padding-top: 0;
				display: inline-block;
				font-weight: normal;
			}	
		}
		&:hover{ 
			display: block;
		}
	}
	.menu-item {
		.description {
			display: block;
			font-size: 18px;
			color: $color-darkgrey;
			margin-top: 7px;
		}
	}	
}