/**
    Mobile menu styles
*/

/** Menu styling **/

#menu-mobile-menu {
    background-color: $color-midblue; 
    @include respond-to-above( xs-screens )
    {
      display: none;
    }
    li {
        width: 100%;
        display: block;
        border-bottom: 1px solid white;
        padding-left: 16px;
        a {
            font-size: 18px;
            color: white;
            padding: 14px 0 14px 0px;
            font-weight: normal;
            display: block;
        }
        &.menu-item-has-children {
            position: relative;
            label {
                color: white;
                position: absolute;
                right: 20px;
                top: 15px;
                font-size: 24px;
                cursor: pointer;
            }
            input.mobile-menu-child {
                display: none;
                & ~ ul {
                    position: absolute;
                    height: 0;
                    overflow: hidden; 
                    width: 100%; 
                    text-indent: -200%;                
                }
                &:checked ~ ul {
                    height: auto;
                    text-indent: 0;
                    position: inherit;                
                }
            }
            .sub-menu {
                width: 100%;
                margin-bottom: 4px;
                li {
                    width: 100%;
                    padding-left: 0;
                    background-color: white;
                    a {
                        width: 100%;
                        color: $color-midblue;
                        background-color: white;
                        margin-left: 40px;
                        border-bottom: 2px solid $color-lightblue;
                    }
                    &:last-child a {
                        border-bottom: none;
                    }
                }
            }
        }        
    }
    &:first-child {
        margin-top: 30px;
    }

}

/** Show/Hide styling **/
label[for="mobile-menu"] {
    cursor: pointer;
    font-family: $font-family;
    &.show {
        color: $color-midblue;
        text-transform: uppercase; 
        position: absolute;
        right: 20px;
        top: 43px;
        font-size: 22px;
        font-weight: 400;
        display: none;
        @include respond-to( xs-screens )  
        {
            display: block;
        }        
    }
    &.hide {
        background-color: $color-midblue;
        color: white;
        text-transform: uppercase; 
        font-size: 22px;
        font-weight: 400;    
        width: 100%;
        text-align: right;
        display: none;
        font-family: $font-family;
        padding: 20px 20px 0 0;  
        @include respond-to( xs-screens )  
        {
            display: block;
        }
    }
}
.menu-icon-xs {
    display: none;
    position: relative;

    width: 20px;
    height: 3px;

    top: -11px;
    right: -5px;

    background: $color-midblue;

    cursor: pointer;

    &:after, &:before {
        content: '';
        width: 100%;
        height: 3px;
        background: $color-midblue;
        position: absolute;
        cursor: pointer;
        right: 0;
    }

    &:after {
        top: 5px;
    }

    &:before {
        top: 10px;
    }

    @include respond-to(xs-screens) {
        display: inline-block;
    }
}

/** Show/Hide functionality **/
input[name="mobile-menu"] {
    display: none;
    & ~ span {
        position: absolute;
        left: -100%;
        width: 100%;

        transition-duration: 1s;
    }
    &:checked ~ span {
        left: 0;
        transition-duration: 1s;
    }
} 
label.show-child {
    &::before {
        position: absolute;
        right: 0;
        top: 9px;
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        border-right: 2px solid #fff;
        border-top: 2px solid #fff;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    &::after {
        content: '';
    }

}
input.mobile-menu-child:checked + label {
    &::before {
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);        
    }
}
