/**
	Single post styles 
*/

.single-post {
	article {
		h1 a {
			color: $color-midblue;
			font-size: 36px;
			font-weight: normal;
			text-decoration: none;
			margin-bottom: 0;
			@include respond-to-max( xs-small-screens ) {
				font-size: 24px;
				padding-bottom: 14px;
			}
		}
		.sp-wrapper {
			float: left;
			padding-bottom: 28px;
			margin-bottom: 28px;
			img {
				float: left;
				margin-right: 7%;
				width: 17%;
				@include respond-to-max( xs-small-screens ) {
					width: 23%;
					margin-right: 6%;
					max-width: 60px;
				}
				@include respond-to-above( small-screens ) {
					width: 22%;
					margin-right: 3.5%
				}
				@include respond-to-above( medium-screens ) {
					width: 19%;
					max-width: 120px;
					margin-right: 3.2%;
				}
			}
			.text {
				float: left;
				font-size: 18px;
				color: $color-darkgrey;
				@include respond-to-max( xs-small-screens ) {
					font-size: 14px;
				}
				&.no-thumbnail {
					width: 100%;
				}
				h3 {
					margin-bottom: 11px;
					a {
						color: $color-midblue;
						text-decoration: none;
						font-size: 20px;
						margin-bottom: 9px;
						font-weight: normal;
						&:hover {
							color: $color-midblue;
						}
					}
				}
				p.credit {
					font-size: 14px;
					margin-bottom: 0;
					line-height: 21px;
					@include respond-to-max( xs-small-screens ) {
						font-size: 13px;
					}
				}
				h4 {
					font-size: 18px;
					font-weight: normal;
				}
			}
		}		
	}
}


article .single-post {

}