{# Content Before Sidebar Widget Area #}

<aside id="rpwe_widget-5" class="widget small-4 columns">
	<h3 class="widget-title"><a href="https://www.123-reg.co.uk/blog/category/videos/" title="Videos">Videos</a></h3>
	<div  class="rpwe-block ">
		<ul class="rpwe-ul">
			<li class="rpwe-li rpwe-clearfix">
				<a class="rpwe-img" href="https://www.123-reg.co.uk/blog/social-media/swift-6-social-media-for-beginners/"  rel="bookmark">
					<img class="rpwe-alignleft rpwe-thumb" src="https://www.123-reg.co.uk/blog/wp-content/uploads/2016/01/social-media-2016-60x60.png" alt="Swift 6: Social media for beginners">
				</a>
				<h3 class="rpwe-title">
					<a href="https://www.123-reg.co.uk/blog/social-media/swift-6-social-media-for-beginners/" title="Permalink to Swift 6: Social media for beginners" rel="bookmark"><span>Swift 6:</span> Social media for beginners</a>
				</h3>
				<time class="rpwe-time published" datetime="2017-04-12T17:15:05+00:00">April 12, 2017</time>
			</li>
			<li class="rpwe-li rpwe-clearfix">
				<a class="rpwe-img" href="https://www.123-reg.co.uk/blog/videos/six-common-email-marketing-mistakes/"  rel="bookmark">
					<img class="rpwe-alignleft rpwe-thumb" src="https://www.123-reg.co.uk/blog/wp-content/uploads/2014/12/email_feat-60x60.jpg" alt="Swift 6: Six common email marketing mistakes">
				</a>
				<h3 class="rpwe-title">
					<a href="https://www.123-reg.co.uk/blog/videos/six-common-email-marketing-mistakes/" title="Permalink to Swift 6: Six common email marketing mistakes" rel="bookmark"><span>Swift 6:</span> Six common email marketing mistakes
					</a>
				</h3>
				<time class="rpwe-time published" datetime="2017-03-15T15:02:41+00:00">March 15, 2017</time>
			</li>
		</ul>
	</div>
</aside>

