{# pagination_after_content #}

<div class="navigation">
	<ul class="pagination">
		<li class="active"><a href="https://www.123-reg.co.uk/blog/">1</a></li>
		<li><a href="https://www.123-reg.co.uk/blog/page/2/">2</a></li>
		<li><a href="https://www.123-reg.co.uk/blog/page/3/">3</a></li>
		<li class="active"><a href="#">...</a></li>
		<li><a href="https://www.123-reg.co.uk/blog/page/62/">62</a></li>
		<li><a href="https://www.123-reg.co.uk/blog/page/2/" >&raquo;</a></li>
	</ul>
</div>