{# Single Post Pagination After Content #}
<div class="row prevnext-navigation">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 single-navlink">
        <a href="https://www.123-reg.co.uk/blog/online-marketing/swift-6-promoting-event-online/" rel="prev">&lt; previous post</a>        
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 single-navlink text-right">
        <a href="https://www.123-reg.co.uk/blog/online-marketing/swift-6-promoting-event-online/" rel="prev">next post &gt;</a>            
    </div>
</div>