/**
	Grid values 
*/

// XS Small screen values
$xs-left-padding: 20px;
$xs-right-padding: 20px;


// Small screen values

$sm-left-padding: 65px;
$sm-right-padding: 60px;
$sm-gutter: 34px;
$sm-aside-width: 223px;	


// Medium screen values

$md-left-padding: 40px;
$md-right-padding: 42px;
$md-gutter : 79px;
$md-aside-width: 320px;

// Large screen values

$lg-left-padding: 34px;
$lg-right-padding: 34px;
$lg-gutter: 96px;
$lg-aside-width: 373px;
